.idea/*
# ignore all .exe files
*.exe
# ignore gtk directory
gtk/
# ignore all .out files
*.out
*.o
# ignore all .bin files
*.bin
# ignore all .pdf files
*.pdf
# ignore VSCode conf file
*.code-workspace
.vscode/*